{% extends "internal/base.html" %}

{% block content %}
<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl footer-offset">
  <style>
    .loadercontainer {
        text-align: center;
    }

    .loader {
        display: none;
        width: 50px;
        height: 50px;
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    </style>
    <script src="{{ url_for('static', filename='internal/js/hs.theme-appearance.js') }}"></script>
    {% include 'internal/_header.html' %}
    {% include 'internal/_sidebar.html' %}
    

 
    <main id="content" role="main" class="main pb-5">
      <!-- Content -->
      <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-sm mb-2 mb-sm-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                  <li class="breadcrumb-item"><a class="breadcrumb-link" href="./ecommerce-products.html">Pages</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Items</li>
                </ol>
              </nav>
  
              <h1 class="page-header-title">Add Item</h1>
  
              <div class="mt-2">
                <a class="text-body me-3" href="javascript:;">
                  <i class="bi-clipboard me-1"></i> Duplicate
                </a>
                <a class="text-body" href="javascript:;">
                  <i class="bi-eye me-1"></i> Preview
                </a>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Page Header -->
  
        <div class="row">
          <div class="col-lg-8 mb-3 mb-lg-0">
             <!-- Card -->

            <!-- End Card -->
            <!-- Card -->
            <div class="card mb-3 mb-lg-5">
              <!-- Header -->
              <div class="card-header">
                <h4 class="card-header-title">Item information</h4>
              </div>
              <!-- End Header -->
  
              <!-- Body -->
              <div class="card-body">
                <!-- Form -->
                <div class="mb-4">
                  <label for="itemNameLabel" class="form-label">Item Name</label>
  
                  <input type="text" class="form-control" name="itemName" id="itemNameLabel" placeholder="Charizard - Holo" aria-label="Charizard - Holo">
                </div>
                <!-- End Form -->
                <div class="mb-4">
                  <label for="itemDescriptionLabel" class="form-label">Description</label>
  
                  <textarea id="itemDescriptionTextarea" class="form-control" name="itemDescription" placeholder="Item description..." rows="4"></textarea>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label for="setListLabel" class="form-label">Set List</label>
  
                      <input type="text" class="form-control" name="setList" id="setListLabel" placeholder="1999 POKEMON GAME" aria-label="1999 POKEMON GAME">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
  
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label for="gradedLabel" class="form-label">Graded</label>
  
                      <div class="input-group">
                        <input type="text" class="form-control" name="graded" id="gradedLabel" placeholder="PSA GEM MINT 10" aria-label="PSA GEM MINT 10">
  
                        
                      </div>
  
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <div class="row">
                  <div class="mb-4">
                    <label for="collectionTypeLabel" class="form-label">Collection</label>
                    <div class="mb-4">        
                      <!-- Select -->
                      <div class="tom-select-custom mb-3">
                        <select class="js-select form-select" id="collectionTypeLabel" name="collectionType" autocomplete="off" data-hs-tom-select-options='{
                                  "placeholder": "Select collection"
                                }'>
                        
                                {% for collection in collections %}
                                  <option value="{{collection.id}}" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">{{collection.collectionName}}</span></span>'>{{collection.collectionName}}</option>
                                {% endfor %}
                        
                        
                        </select>
                      </div>
                      <!-- End Select -->
      
                    
                    </div>
                    <!-- End Form -->
                  </div>
                </div>
                <!-- End Row -->
  
  

              </div>
              <!-- Body -->
            </div>
            <!-- End Card -->
  
           
  
            <!-- Card -->
            <div class="card">
              <!-- Header -->
              <div class="card-header">
                <h4 class="card-header-title">Custom Attributes</h4>
              </div>
              <!-- End Header -->
  
              <!-- Body -->
              <div class="card-body">
                <h6 class="text-cap">Options</h6>
  
                <div class="js-add-field" data-hs-add-field-options='{
                      "template": "#addAnotherOptionFieldTemplate",
                      "container": "#addAnotherOptionFieldContainer",
                      "defaultCreated": 0
                    }'>
                  <div class="row mb-4">
                    <div class="col-sm-4 mb-2 mb-sm-0">
                      <input type="text" class="form-control" placeholder="Enter tag name" aria-label="Enter tag name">
                    </div>
                    <!-- End Col -->
  
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Enter tag value" aria-label="Enter tag value">
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
  
                  <!-- Container For Input Field -->
                  <div id="addAnotherOptionFieldContainer"></div>
  
                  <a href="javascript:;" class="js-create-field form-link">
                    <i class="bi-plus"></i> Add another option
                  </a>
                </div>
  
                <!-- Add Another Option Input Field -->
                <div id="addAnotherOptionFieldTemplate" style="display: none;">
                  <div class="row mb-4">
                    <div class="col-sm-4 mb-2 mb-sm-0">
                      <input type="text" class="form-control" placeholder="Enter tag name" aria-label="Enter tag name">
                    </div>
                    <!-- End Col -->
  
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Enter tag value" aria-label="Enter tag value">
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </div>
                <!-- End Add Another Option Input Field -->
              </div>
              <!-- Body -->
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->
  
          <div class="col-lg-4">
            <!-- Card -->
            <div class="card mb-3 mb-lg-5">
              <!-- Header -->
              <div class="card-header card-header-content-between">
                <h4 class="card-header-title">Media</h4>
  
                
              </div>
              <!-- End Header -->
  
              <!-- Body -->
              <div class="card-body">
                <!-- Dropzone -->
                <div id="attachFilesNewProjectLabel" class="js-dropzone dz-dropzone dz-dropzone-card">
                  <div class="dz-message">
                    <img class="avatar avatar-xl avatar-4x3 mb-3" src="{{ url_for('static', filename='internal/svg/illustrations/oc-browse.svg') }}" alt="Image Description" data-hs-theme-appearance="default">
                    <img class="avatar avatar-xl avatar-4x3 mb-3" src="{{ url_for('static', filename='internal/svg/illustrations-light/oc-browse.svg') }}" alt="Image Description" data-hs-theme-appearance="dark">
  
                    <h5>Drag and drop your file here</h5>
  
                    <p class="mb-2">or</p>
  
                    <span class="btn btn-white btn-sm mb-5">Browse files</span>
                  </div>
                </div>
                <!-- End Dropzone -->
              </div>
              <!-- Body -->
            </div>
            <div class="card mb-3 mb-lg-5">
              <!-- Header -->
              <div class="card-header">
                <h4 class="card-header-title">Pricing</h4>
              </div>
              <!-- End Header -->
  
              <!-- Body -->
              <div class="card-body">
                <!-- Form -->
                <div class="mb-4">
                  <label for="priceNameLabel" class="form-label">Price</label>
  
                  <div class="input-group">
                    <input type="text" class="form-control" name="priceName" id="priceNameLabel" placeholder="0.00" aria-label="0.00">
  
                    <div class="input-group-append">
                      <!-- Select -->
                      <div class="tom-select-custom">
                        <select class="js-select form-select" data-hs-tom-select-options='{
                                  "searchInDropdown": false,
                                  "hideSearch": true,
                                  "dropdownWidth": "7rem",
                                  "dropdownWrapperClass": "tom-select-custom tom-select-custom-end"
                                }'>
                          <option value="USD" selected>USD</option>
                          <option value="AED">AED</option>
                          <option value="AFN">AFN</option>
                          <option value="ALL">ALL</option>
                          <option value="AMD">AMD</option>
                          <option value="ANG">ANG</option>
                          <option value="AOA">AOA</option>
                          <option value="ARS">ARS</option>
                          <option value="AUD">AUD</option>
                          <option value="AWG">AWG</option>
                          <option value="AZN">AZN</option>
                          <option value="BAM">BAM</option>
                          <option value="BBD">BBD</option>
                          <option value="BDT">BDT</option>
                          <option value="BGN">BGN</option>
                          <option value="BIF">BIF</option>
                          <option value="BMD">BMD</option>
                          <option value="BND">BND</option>
                          <option value="BOB">BOB</option>
                          <option value="BRL">BRL</option>
                          <option value="BSD">BSD</option>
                          <option value="BWP">BWP</option>
                          <option value="BZD">BZD</option>
                          <option value="CAD">CAD</option>
                          <option value="CDF">CDF</option>
                          <option value="CHF">CHF</option>
                          <option value="CLP">CLP</option>
                          <option value="CNY">CNY</option>
                          <option value="COP">COP</option>
                          <option value="CRC">CRC</option>
                          <option value="CVE">CVE</option>
                          <option value="CZK">CZK</option>
                          <option value="DJF">DJF</option>
                          <option value="DKK">DKK</option>
                          <option value="DOP">DOP</option>
                          <option value="DZD">DZD</option>
                          <option value="EGP">EGP</option>
                          <option value="ETB">ETB</option>
                          <option value="EUR">EUR</option>
                          <option value="FJD">FJD</option>
                          <option value="FKP">FKP</option>
                          <option value="GBP">GBP</option>
                          <option value="GEL">GEL</option>
                          <option value="GIP">GIP</option>
                          <option value="GMD">GMD</option>
                          <option value="GNF">GNF</option>
                          <option value="GTQ">GTQ</option>
                          <option value="GYD">GYD</option>
                          <option value="HKD">HKD</option>
                          <option value="HNL">HNL</option>
                          <option value="HRK">HRK</option>
                          <option value="HTG">HTG</option>
                          <option value="HUF">HUF</option>
                          <option value="IDR">IDR</option>
                          <option value="ILS">ILS</option>
                          <option value="INR">INR</option>
                          <option value="ISK">ISK</option>
                          <option value="JMD">JMD</option>
                          <option value="JPY">JPY</option>
                          <option value="KES">KES</option>
                          <option value="KGS">KGS</option>
                          <option value="KHR">KHR</option>
                          <option value="KMF">KMF</option>
                          <option value="KRW">KRW</option>
                          <option value="KYD">KYD</option>
                          <option value="KZT">KZT</option>
                          <option value="LAK">LAK</option>
                          <option value="LBP">LBP</option>
                          <option value="LKR">LKR</option>
                          <option value="LRD">LRD</option>
                          <option value="LSL">LSL</option>
                          <option value="MAD">MAD</option>
                          <option value="MDL">MDL</option>
                          <option value="MGA">MGA</option>
                          <option value="MKD">MKD</option>
                          <option value="MMK">MMK</option>
                          <option value="MNT">MNT</option>
                          <option value="MOP">MOP</option>
                          <option value="MRO">MRO</option>
                          <option value="MUR">MUR</option>
                          <option value="MVR">MVR</option>
                          <option value="MWK">MWK</option>
                          <option value="MXN">MXN</option>
                          <option value="MYR">MYR</option>
                          <option value="MZN">MZN</option>
                          <option value="NAD">NAD</option>
                          <option value="NGN">NGN</option>
                          <option value="NIO">NIO</option>
                          <option value="NOK">NOK</option>
                          <option value="NPR">NPR</option>
                          <option value="NZD">NZD</option>
                          <option value="PAB">PAB</option>
                          <option value="PEN">PEN</option>
                          <option value="PGK">PGK</option>
                          <option value="PHP">PHP</option>
                          <option value="PKR">PKR</option>
                          <option value="PLN">PLN</option>
                          <option value="PYG">PYG</option>
                          <option value="QAR">QAR</option>
                          <option value="RON">RON</option>
                          <option value="RSD">RSD</option>
                          <option value="RUB">RUB</option>
                          <option value="RWF">RWF</option>
                          <option value="SAR">SAR</option>
                          <option value="SBD">SBD</option>
                          <option value="SCR">SCR</option>
                          <option value="SEK">SEK</option>
                          <option value="SGD">SGD</option>
                          <option value="SHP">SHP</option>
                          <option value="SLL">SLL</option>
                          <option value="SOS">SOS</option>
                          <option value="SRD">SRD</option>
                          <option value="STD">STD</option>
                          <option value="SZL">SZL</option>
                          <option value="THB">THB</option>
                          <option value="TJS">TJS</option>
                          <option value="TOP">TOP</option>
                          <option value="TRY">TRY</option>
                          <option value="TTD">TTD</option>
                          <option value="TWD">TWD</option>
                          <option value="TZS">TZS</option>
                          <option value="UAH">UAH</option>
                          <option value="UGX">UGX</option>
                          <option value="UYU">UYU</option>
                          <option value="UZS">UZS</option>
                          <option value="VND">VND</option>
                          <option value="VUV">VUV</option>
                          <option value="WST">WST</option>
                          <option value="XAF">XAF</option>
                          <option value="XCD">XCD</option>
                          <option value="XOF">XOF</option>
                          <option value="XPF">XPF</option>
                          <option value="YER">YER</option>
                          <option value="ZAR">ZAR</option>
                          <option value="ZMW">ZMW</option>
                        </select>
                      </div>
                      <!-- End Select -->
                    </div>
                  </div>
                </div>
                <!-- End Form -->
  
                
  
                <hr class="my-4">
  
                <!-- Form Switch -->
                <label class="row form-check form-switch" for="availabilitySwitch1">
                  <span class="col-8 col-sm-9 ms-0">
                    <span class="text-dark">List Item <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="List Item for sale on marketplace"></i></span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="availabilitySwitch1">
                  </span>
                </label>
                <!-- End Form Switch -->
              </div>
              <!-- Body -->
            </div>
            <!-- End Card -->
  
            <!-- Card -->
            <div class="card">
              <!-- Header -->
              <div class="card-header">
                <h4 class="card-header-title">Market Price and History</h4>
              </div>
              <!-- End Header -->
  
              <!-- Body -->
              <div class="card-body">
                <!-- Form -->
                <div class="mb-4">
                  <label for="purchasePriceLabel" class="form-label">Purchase Price</label>
  
                  <input type="text" class="form-control" name="purchasePrice" id="purchasePriceLabel" placeholder="0.00" aria-label="0.00">
                </div>
                <!-- End Form -->
                
                <!-- Form -->
                <div class="mb-4">
                  <label for="provenanceLabel" class="form-label">Acquired From/Provenance</label>
  
                  <!-- Select -->
                  <div class="tom-select-custom">
                    <select class="js-select form-select" autocomplete="off" id="provenanceLabel" data-hs-tom-select-options='{
                              "searchInDropdown": false,
                              "hideSearch": true,
                              "placeholder": "Select provenance"
                            }'>
                      <option value="Public Auction">Public Auction</option>0
                      <option value="Private Transaction">Private Transaction</option>
                      <option value="Heritage">Heritage</option>
                      <option value="Ebay">Ebay</option>
                      <option value="PWCC">PWCC</option>
                      <option value="Goldin">Goldin</option>
                      <option value="Facebook">Facebook</option>
                      <option value="Instagram">Instagram</option>
                      <option value="Other">Other</option>

                    </select>
                  </div>
                  <!-- End Select -->
  
                  <span class="form-text">Add where you acquired this item to help with authenticity.</span>
                </div>
                <!-- Form -->
  
                
              </div>
              <!-- Body -->
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
  
        <div class="position-fixed start-50 bottom-0 translate-middle-x w-100 zi-99 mb-3" style="max-width: 40rem;">
          <!-- Card -->
          <div class="card card-sm bg-dark border-dark mx-2">
            <div class="card-body">
              <div class="row justify-content-center justify-content-sm-between">
                <div class="col">
                  <button type="button" class="btn btn-ghost-danger">Delete</button>
                </div>
                <!-- End Col -->
  
                <div class="col-auto">
                  <div class="d-flex gap-3">
                    <button type="button" class="btn btn-ghost-light">Discard</button>
                    <button type="button" class="btn btn-primary">Save</button>
                  </div>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Content -->
  
      <!-- Footer -->
  
      <div class="footer">
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <p class="fs-6 mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2022 Htmlstream.</span></p>
          </div>
          <!-- End Col -->
  
          <div class="col-auto">
            <div class="d-flex justify-content-end">
              <!-- List Separator -->
              <ul class="list-inline list-separator">
                <li class="list-inline-item">
                  <a class="list-separator-link" href="#">FAQ</a>
                </li>
  
                <li class="list-inline-item">
                  <a class="list-separator-link" href="#">License</a>
                </li>
  
                <li class="list-inline-item">
                  <!-- Keyboard Shortcuts Toggle -->
                  <button class="btn btn-ghost-secondary btn btn-icon btn-ghost-secondary rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKeyboardShortcuts" aria-controls="offcanvasKeyboardShortcuts">
                    <i class="bi-command"></i>
                  </button>
                  <!-- End Keyboard Shortcuts Toggle -->
                </li>
              </ul>
              <!-- End List Separator -->
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <input id="csrfToken" value="{{ csrf_token() }}" type="hidden">
      <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
  





  



















  























  <!-- JS Global Compulsory  -->
  <script src="{{ url_for('static', filename='internal/vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/jquery-migrate/dist/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{{ url_for('static', filename='internal/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/hs-form-search/dist/hs-form-search.min.js') }}"></script>

  <script src="{{ url_for('static', filename='internal/vendor/hs-quantity-counter/dist/hs-quantity-counter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/hs-add-field/dist/hs-add-field.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/tom-select/dist/js/tom-select.complete.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/quill/dist/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/dropzone/dist/min/dropzone.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables.net.extensions/select/select.min.js') }}"></script>

  <!-- JS Front -->
  <script src="{{ url_for('static', filename='internal/js/theme.min.js') }}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF DATATABLES
      // =======================================================
      HSCore.components.HSDatatables.init($('#datatable'), {
        select: {
          style: 'multi',
          selector: 'td:first-child input[type="checkbox"]',
          classMap: {
            checkAll: '#datatableCheckAll',
            counter: '#datatableCounter',
            counterInfo: '#datatableCounterInfo'
          }
        }
      });
    });
  </script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      window.onload = function () {
        

        // INITIALIZATION OF NAVBAR VERTICAL ASIDE
        // =======================================================
        new HSSideNav('.js-navbar-vertical-aside').init()


        // INITIALIZATION OF FORM SEARCH
        // =======================================================
        new HSFormSearch('.js-form-search')


        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init()


        // INITIALIZATION OF SELECT
        // =======================================================
        HSCore.components.HSTomSelect.init('.js-select')


        // INITIALIZATION OF ADD FIELD
        // =======================================================
        new HSAddField('.js-add-field', {
          addedField: field => {
            HSCore.components.HSTomSelect.init(field.querySelector('.js-select-dynamic'))
          }
        })


        // INITIALIZATION OF  QUANTITY COUNTER
        // =======================================================
        new HSQuantityCounter('.js-quantity-counter')


        // INITIALIZATION OF DROPZONE
        // =======================================================
        HSCore.components.HSDropzone.init('.js-dropzone')


        // INITIALIZATION OF QUILLJS EDITOR
        // =======================================================
        HSCore.components.HSQuill.init('.js-quill')
      }
    })()
  </script>

  <!-- Style Switcher JS -->

  <script>
      (function () {
        // STYLE SWITCHER
        // =======================================================
        const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
        const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

        // Function to set active style in the dorpdown menu and set icon for dropdown trigger
        const setActiveStyle = function () {
          $variants.forEach($item => {
            if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
              $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
              return $item.classList.add('active')
            }

            $item.classList.remove('active')
          })
        }

        // Add a click event to all items of the dropdown to set the style
        $variants.forEach(function ($item) {
          $item.addEventListener('click', function () {
            HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
          })
        })

        // Call the setActiveStyle on load page
        setActiveStyle()

        // Add event listener on change style to call the setActiveStyle function
        window.addEventListener('on-hs-appearance-change', function () {
          setActiveStyle()
        })
      })()
    </script>
    

  <!-- End Style Switcher JS -->
</body>
{% endblock %}