{% extends "internal/base.html" %}

{% block content %}
<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl footer-offset">
    <script src="{{ url_for('static', filename='internal/js/hs.theme-appearance.js') }}"></script>
    {% include 'internal/_header.html' %}
    {% include 'internal/_sidebar.html' %}
    

  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-end">
          <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Collections</li>
              </ol>
            </nav>

            <h1 class="page-header-title">My Collections</h1>
          </div>
          <!-- End Col -->

          <div class="col-sm-auto">
            <a class="btn btn-primary" href="./users-add-user.html">
              <i class="bi-plus me-1"></i> Create Collection
            </a>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Page Header -->



      <!-- Card -->
      <div class="card">
        <!-- Header -->
        <div class="card-header card-header-content-md-between">
          

          <div class="d-grid d-sm-flex justify-content-md-end align-items-sm-center gap-2">
            <!-- Datatable Info -->
            <div id="datatableCounterInfo" style="display: none;">
              <div class="d-flex align-items-center">
                <span class="fs-5 me-3">
                  <span id="datatableCounter">0</span>
                  Selected
                </span>
                <a class="btn btn-outline-danger btn-sm" href="javascript:;">
                  <i class="bi-trash"></i> Delete
                </a>
              </div>
            </div>
            <!-- End Datatable Info -->

            <!-- Dropdown -->
            <div class="dropdown">
              <button type="button" class="btn btn-white btn-sm dropdown-toggle w-100" id="usersExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-download me-2"></i> Export
              </button>

              <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="usersExportDropdown">
                <span class="dropdown-header">Options</span>
                <a id="export-copy" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="{{ url_for('static', filename='internal/svg/illustrations/copy-icon.svg') }}" alt="Image Description">
                  Copy
                </a>
                <a id="export-print" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="{{ url_for('static', filename='internal/svg/illustrations/print-icon.svg') }}" alt="Image Description">
                  Print
                </a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header">Download options</span>
                <a id="export-excel" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="{{ url_for('static', filename='internal/svg/brands/excel-icon.svg') }}" alt="Image Description">
                  Excel
                </a>
                <a id="export-csv" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="{{ url_for('static', filename='internal/svg/components/placeholder-csv-format.svg') }}" alt="Image Description">
                  .CSV
                </a>
                <a id="export-pdf" class="dropdown-item" href="javascript:;">
                  <img class="avatar avatar-xss avatar-4x3 me-2" src="{{ url_for('static', filename='internal/svg/brands/pdf-icon.svg') }}" alt="Image Description">
                  PDF
                </a>
              </div>
            </div>
            <!-- End Dropdown -->


          </div>
        </div>
        <!-- End Header -->

        <!-- Table -->
        <div class="table-responsive datatable-custom position-relative">
          <table id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table" data-hs-datatables-options='{
                   "columnDefs": [{
                      "targets": [0, 7],
                      "orderable": false
                    }],
                   "order": [],
                   "info": {
                     "totalQty": "#datatableWithPaginationInfoTotalQty"
                   },
                   "search": "#datatableSearch",
                   "entries": "#datatableEntries",
                   "pageLength": 15,
                   "isResponsive": false,
                   "isShowPaging": false,
                   "pagination": "datatablePagination"
                 }'>
            <thead class="thead-light">
              <tr>
                <th class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                    <label class="form-check-label" for="datatableCheckAll"></label>
                  </div>
                </th>
                <th class="table-column-ps-0">Item Name</th>
                <th>Set List</th>
                <th>Graded</th>
                <th>Collection</th>
                <th>Marketplace Status</th>
                <th>Current Value</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll1">
                    <label class="form-check-label" for="datatableCheckAll1"></label>
                  </div>
                </td>
                <td class="table-column-ps-0">
                  <a class="d-flex align-items-center" href="./user-profile.html">
                    <div class="avatar text-center">
                      <img class="avatar-img-table" src="{{ url_for('static', filename='shared/test-images/charizard.jpg') }}" alt="Image Description">
                    </div>
                    <div class="ms-3">
                      <span class="d-block h5 text-inherit mb-0">Charizard - Holo <i class="bi-patch-check-fill text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Owner Verified"></i></span>
                    </div>
                  </a>
                </td>
                <td>1999 POKEMON GAME</td>
                <td>PSA GEM MINT 10</td>
                <td>Gem Mint Base Set</td>
                <td>
                  <span class="legend-indicator bg-ghost-secondary"></span>Not Listed
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="fs-5 me-2">$20,000</span>
                    <span class="badge bg-soft-success text-success p-1">
                        <i class="bi-graph-up"></i> 1.2%
                      </span>
                  </div>
                </td>
                
                <td>
                  <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                    <i class="bi-pencil-fill me-1"></i> Edit
                  </button>
                </td>
              </tr>

              <tr  style="opacity:0.2;">
                <td class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll1">
                    <label class="form-check-label" for="datatableCheckAll1"></label>
                  </div>
                </td>
                <td class="table-column-ps-0">
                  <a class="d-flex align-items-center" href="./user-profile.html">
                    <div class="avatar text-center">
                      <img class="avatar-img-table" src="{{ url_for('static', filename='shared/test-images/charizard.jpg') }}" alt="Image Description">
                    </div>
                    <div class="ms-3">
                      <span class="d-block h5 text-inherit mb-0">Charizard - Holo <i class="bi-patch-check-fill text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Owner Verified"></i></span>
                    </div>
                  </a>
                </td>
                <td>1999 POKEMON GAME</td>
                <td>PSA GEM MINT 10</td>
                <td>Gem Mint Base Set</td>
                <td>
                  <span class="legend-indicator bg-ghost-secondary"></span>Not Listed
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="fs-5 me-2">$20,000</span>
                    <span class="badge bg-soft-success text-success p-1">
                        <i class="bi-graph-up"></i> 1.2%
                      </span>
                  </div>
                </td>
                
                <td>
                  <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                    <i class="bi-pencil-fill me-1"></i> Edit
                  </button>
                </td>
              </tr>









              <tr>
                <td class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="usersDataCheck2">
                    <label class="form-check-label" for="usersDataCheck2"></label>
                  </div>
                </td>
                <td class="table-column-ps-0">
                  <a class="d-flex align-items-center" href="./user-profile.html">
                    <div class="avatar avatar-soft-primary avatar-circle">
                      <span class="avatar-initials">A</span>
                    </div>
                    <div class="ms-3">
                      <span class="d-block h5 text-inherit mb-0">Anne Richard</span>
                      <span class="d-block fs-5 text-body">anne@site.com</span>
                    </div>
                  </a>
                </td>
                <td>Employee</td>
                <td>
                  <span class="d-block h5 mb-0">Seller</span>
                  <span class="d-block fs-5">Branding products</span>
                </td>
                <td>United States</td>
                <td>
                  <span class="legend-indicator bg-warning"></span>Pending Sale
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="fs-5 me-2">24%</span>
                    <div class="progress table-progress">
                      <div class="progress-bar" role="progressbar" style="width: 24%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </td>
                
                <td>
                  <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                    <i class="bi-pencil-fill me-1"></i> Edit
                  </button>
                </td>
              </tr>

              <tr>
                <td class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="usersDataCheck3">
                    <label class="form-check-label" for="usersDataCheck3"></label>
                  </div>
                </td>
                <td class="table-column-ps-0">
                  <a class="d-flex align-items-center" href="./user-profile.html">
                    <div class="avatar avatar-circle">
                      <img class="avatar-img" src="{{ url_for('static', filename='internal/img/160x160/img3.jpg') }}" alt="Image Description">
                    </div>
                    <div class="ms-3">
                      <span class="d-block h5 text-inherit mb-0">David Harrison</span>
                      <span class="d-block fs-5 text-body">david@site.com</span>
                    </div>
                  </a>
                </td>
                <td>Employee</td>
                <td>
                  <span class="d-block h5 mb-0">Unknown</span>
                  <span class="d-block fs-5">Unknown</span>
                </td>
                <td>United States</td>
                <td>
                  <span class="legend-indicator bg-success"></span>Active
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="fs-5 me-2">100%</span>
                    <div class="progress table-progress">
                      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </td>
                
                <td>
                  <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                    <i class="bi-pencil-fill me-1"></i> Edit
                  </button>
                </td>
              </tr>

              <tr>
                <td class="table-column-pe-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="usersDataCheck4">
                    <label class="form-check-label" for="usersDataCheck4"></label>
                  </div>
                </td>
                <td class="table-column-ps-0">
                  <a class="d-flex align-items-center" href="./user-profile.html">
                    <div class="avatar avatar-circle">
                      <img class="avatar-img" src="{{ url_for('static', filename='internal/img/160x160/img5.jpg') }}" alt="Image Description">
                    </div>
                    <div class="ms-3">
                      <span class="d-block h5 text-inherit mb-0">Finch Hoot</span>
                      <span class="d-block fs-5 text-body">finch@site.com</span>
                    </div>
                  </a>
                </td>
                <td>Employee</td>
                <td>
                  <span class="d-block h5 mb-0">Designer</span>
                  <span class="d-block fs-5">IT department</span>
                </td>
                <td>Argentina</td>
                <td>
                  <span class="legend-indicator bg-danger"></span>Suspended
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="fs-5 me-2">50%</span>
                    <div class="progress table-progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </td>
                
                <td>
                  <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal">
                    <i class="bi-pencil-fill me-1"></i> Edit
                  </button>
                </td>
              </tr>

              
            </tbody>
          </table>
        </div>
        <!-- End Table -->

        <!-- Footer -->
        <div class="card-footer">
          <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            
            <!-- End Col -->

            <div class="col-sm-auto">
              <div class="d-flex justify-content-center justify-content-sm-end">
                <!-- Pagination -->
                <nav id="datatablePagination" aria-label="Activity pagination"></nav>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Content -->

    <!-- Footer -->

    <div class="footer">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <p class="fs-6 mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2022 Htmlstream.</span></p>
        </div>
        <!-- End Col -->

        <div class="col-auto">
          <div class="d-flex justify-content-end">
            <!-- List Separator -->
            <ul class="list-inline list-separator">
              <li class="list-inline-item">
                <a class="list-separator-link" href="#">FAQ</a>
              </li>

              <li class="list-inline-item">
                <a class="list-separator-link" href="#">License</a>
              </li>

              <li class="list-inline-item">
                <!-- Keyboard Shortcuts Toggle -->
                <button class="btn btn-ghost-secondary btn btn-icon btn-ghost-secondary rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKeyboardShortcuts" aria-controls="offcanvasKeyboardShortcuts">
                  <i class="bi-command"></i>
                </button>
                <!-- End Keyboard Shortcuts Toggle -->
              </li>
            </ul>
            <!-- End List Separator -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>

    <!-- End Footer -->
  </main>





  



















  























  <script src="{{ url_for('static', filename='internal/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js') }}"></script>
  <!-- JS Global Compulsory  -->
  <script src="{{ url_for('static', filename='internal/vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/jquery-migrate/dist/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{{ url_for('static', filename='internal/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/hs-form-search/dist/hs-form-search.min.js') }}"></script>

  <script src="{{ url_for('static', filename='internal/vendor/hs-toggle-password/dist/js/hs-toggle-password.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/hs-file-attach/dist/hs-file-attach.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/hs-step-form/dist/hs-step-form.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/hs-counter/dist/hs-counter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/appear/dist/appear.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/imask/dist/imask.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/tom-select/dist/js/tom-select.complete.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables.net.extensions/select/select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/pdfmake/build/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='internal/vendor/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>

  <!-- JS Front -->
  <script src="{{ url_for('static', filename='internal/js/theme.min.js') }}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF DATATABLES
      // =======================================================
      HSCore.components.HSDatatables.init($('#datatable'), {
        dom: 'Bfrtip',
        buttons: [
          {
            extend: 'copy',
            className: 'd-none'
          },
          {
            extend: 'excel',
            className: 'd-none'
          },
          {
            extend: 'csv',
            className: 'd-none'
          },
          {
            extend: 'pdf',
            className: 'd-none'
          },
          {
            extend: 'print',
            className: 'd-none'
          },
        ],
        select: {
          style: 'multi',
          selector: 'td:first-child input[type="checkbox"]',
          classMap: {
            checkAll: '#datatableCheckAll',
            counter: '#datatableCounter',
            counterInfo: '#datatableCounterInfo'
          }
        },
        language: {
          zeroRecords: `<div class="text-center p-4">
              <img class="mb-3" src="../static/internal/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
              <img class="mb-3" src="../static/internal/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
            <p class="mb-0">No data to show</p>
            </div>`
        }
      })

      const datatable = HSCore.components.HSDatatables.getItem(0)

      $('#export-copy').click(function() {
        datatable.button('.buttons-copy').trigger()
      });

      $('#export-excel').click(function() {
        datatable.button('.buttons-excel').trigger()
      });

      $('#export-csv').click(function() {
        datatable.button('.buttons-csv').trigger()
      });

      $('#export-pdf').click(function() {
        datatable.button('.buttons-pdf').trigger()
      });

      $('#export-print').click(function() {
        datatable.button('.buttons-print').trigger()
      });

      $('.js-datatable-filter').on('change', function() {
        var $this = $(this),
          elVal = $this.val(),
          targetColumnIndex = $this.data('target-column-index');

        if (elVal === 'null') elVal = ''

        datatable.column(targetColumnIndex).search(elVal).draw();
      });
    });
  </script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      window.onload = function () {
        

        // INITIALIZATION OF NAVBAR VERTICAL ASIDE
        // =======================================================
        new HSSideNav('.js-navbar-vertical-aside').init()


        // INITIALIZATION OF FORM SEARCH
        // =======================================================
        new HSFormSearch('.js-form-search')


        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init()


        // INITIALIZATION OF SELECT
        // =======================================================
        HSCore.components.HSTomSelect.init('.js-select')


        // INITIALIZATION OF INPUT MASK
        // =======================================================
        HSCore.components.HSMask.init('.js-input-mask')


        // INITIALIZATION OF NAV SCROLLER
        // =======================================================
        new HsNavScroller('.js-nav-scroller')


        // INITIALIZATION OF COUNTER
        // =======================================================
        new HSCounter('.js-counter')


        // INITIALIZATION OF TOGGLE PASSWORD
        // =======================================================
        new HSTogglePassword('.js-toggle-password')


        // INITIALIZATION OF FILE ATTACHMENT
        // =======================================================
        new HSFileAttach('.js-file-attach')
      }
    })()
  </script>

  <!-- Style Switcher JS -->

  <script>
      (function () {
        // STYLE SWITCHER
        // =======================================================
        const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
        const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

        // Function to set active style in the dorpdown menu and set icon for dropdown trigger
        const setActiveStyle = function () {
          $variants.forEach($item => {
            if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
              $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
              return $item.classList.add('active')
            }

            $item.classList.remove('active')
          })
        }

        // Add a click event to all items of the dropdown to set the style
        $variants.forEach(function ($item) {
          $item.addEventListener('click', function () {
            HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
          })
        })

        // Call the setActiveStyle on load page
        setActiveStyle()

        // Add event listener on change style to call the setActiveStyle function
        window.addEventListener('on-hs-appearance-change', function () {
          setActiveStyle()
        })
      })()
    </script>

  <!-- End Style Switcher JS -->
</body>
{% endblock %}